<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Engaging Students: an unconference and journal on classroom music pedagogy</title>

    <link rel="stylesheet" href="{{ root_url }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ root_url }}/stylesheets/pygment_trac.css">
<!--	<link href='http://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic' rel='stylesheet' type='text/css'> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ root_url }}/index.html">Engaging Students</a></h1>
        <a href="http://flipcampmt.wordpress.com">2015 Unconference (online & Boulder, CO)</a><br/>
        <a href="{{ root_url }}/engagingstudents/">Journal Volume 1</a><br/>
        <a href="{{ root_url }}/engagingstudents2/">Journal Volume 2</a>

      </header>

      <section>  
  {{ content }}
      </section>
  
      <footer>
		<p style="line-height: 80%"><small><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br />All contents on this site, unless otherwise stated, are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</small></p>
        <p style="line-height: 80%"><small>This is a <a href="https://github.com/flipcamp">FlipCamp</a> project hosted on GitHub Pages. Visit the <a href="https://github.com/flipcamp/flipcamp.github.io">project page</a> to fork.</small></p>
        <p style="line-height: 80%"><small>Design based on a GitHub Pages theme by <a href="https://github.com/orderedlist">orderedlist</a>.</small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39541792-2', 'github.com');
      ga('send', 'pageview');

    </script>    
  </body>
</html>
